<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Chat App</title>

    <style>
header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

article {
  font-size: 18px;
  color: #666;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
button{
    font-family: "Google Sans",Roboto,Arial,sans-serif; 
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    border: none;
  cursor: pointer;
  padding: 15px 32px;
    border-radius: 4px;
    background-color: var(--gm-fillbutton-container-color,#1a73e8);
    color: var(--gm-fillbutton-ink-color,#fff);
}

@media (max-width: 767px) {
  header {
    font-size: 28px;
  }

  article {
    font-size: 16px;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
  }
}

    </style>
</head>
<body>
    <div id="home">
        <header>
            <h1>TalkX</h1>
            <!--<h1  style="font-size: 64px; text-align: center;">TalkX</h1>-->
        </header>
<br><br>
        <article style="margin-inline: auto; width: 550px;">
            <section>
                Users can practice speaking on various topics in an audio chat room, with each person having three minutes to share their thoughts and ideas.
            </section> <br>
            <button onclick="createRoom()">Join Room</button>

            

            <div style="bottom: 0; position: fixed;" id="mailchimp">
              <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://gmail.us1.list-manage.com/subscribe/post?u=87a87f8ca3d5416a8dda4a304&amp;id=3313b6c070&amp;f_id=0075c4e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <h2>Get notified when we build something cool</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
	<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_87a87f8ca3d5416a8dda4a304_3313b6c070" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/ihi8Br" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
            </div>

        </article>
        <script>
            const  createRoom = () => window.location.href = '/room'
        </script>
    </div>
    
</body>
</html>